/* --------------------------MEDIA 768--------------------- */

@media screen and (min-width: 768px) {
  /* ----------HEADER----------- */
  .menu-open-btn {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .nav-address {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .address-container {
    display: block;
    gap: unset;
    margin-left: 121px;
  }
  .menu {
    padding: 24px 0;
  }

  /* ----------ADVANTAGES----------- */
  .container {
    max-width: 768px;
  }
  .feature-list {
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
  .feature-title {
    text-align: left;
  }

  /*------------OUR TEAM------------*/
  .team-list {
    column-gap: 24px;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }
  .our-team > .container {
    max-width: 582px;
  }

  /*------------PORTFOLIO------------*/
  .portfolio-list {
    gap: 72px 24px;
    justify-content: center;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /*------------HERO------------*/
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tab.jpg);
    max-width: 768px;
    padding: 112px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-tab-2x.jpg);
    }
  }

  /*------------FOOTER------------*/
  .footer-container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 496px;
  }
  .footer-logo-text {
    text-align: left;
    margin-right: 24px;
  }
  .footer-text {
    min-width: 264px;
  }
  .form-title-subscribe {
    text-align: left;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-btn {
    margin: 0;
  }
}

/* --------------------------MEDIA 1158--------------------- */

@media screen and (min-width: 1158px) {
  /* ----------HEADER----------- */
  .address-container {
    display: flex;
    gap: 40px;
    margin-left: 330px;
    justify-content: center;
  }

  /* ----------ADVANTAGES----------- */
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .feature-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .feature-title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
  .feature-icons {
    display: flex;
  }
  /*------------OUR TEAM------------*/
  .our-team {
    padding: 120px 0;
  }
  .our-team > .container {
    max-width: 1158px;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  /*------------PORTFOLIO------------*/

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  /*------------HERO------------*/
  .hero-text {
    margin-bottom: 48px;
  }
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background-2x.jpg);
    }
  }
  /*------------FOOTER------------*/
  .footer-container {
    max-width: 1158px;
  }
  .footer-logo-text {
    margin-right: 120px;
  }
  .subscribe-form-wrap {
    margin-left: 80px;
  }
  .subscribe-input {
    opacity: 1;
  }
}
