body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

/*------------HEADER------------*/

.head-border {
  border-bottom: 1px solid #e7e9fc;
  height: 72px;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  padding: 16px;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.black-logo {
  color: #2e2f42;
}

.menu {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  /* padding: 24px 0; */
  display: flex;
  flex-direction: column;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover,
.menu:focus {
  color: #404bbf;
}

.menu-studio {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-studio::after {
  content: "";
  display: flex;
  width: 48px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.nav-menu {
  /* display: flex; */
  display: none;
  gap: 40px;
}

.nav-address {
  font-style: normal;
  display: none;
}

.address-container {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}

.contact-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.contact-text:hover,
.contact-text:focus,
.contact-text:active {
  color: #404bbf;
}

.menu-open-btn {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.close-menu-btn {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-menu-item {
  margin-top: 72px;
}
.mob-menu-list {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.mob-menu-item > li:not(:last-child) {
  margin-bottom: 20px;
}
.mob-menu-item > li:first-child > .mob-menu-list {
  color: #404bbf;
}
.mob-menu-address {
  margin-top: 150px;
}
.mob-address-list {
  margin-bottom: 20px;
}
.mob-address-item{
}
.mob-address-item >li:first-child > .mob-contact-text {
  color: #4D5AE5;
}
.mob-contact-text {
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mob-icon-list {
  width: 40px;
  height: 40px;
}
.mob-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-icon-color {
}
/*------------HERO------------*/

.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-mob-2x.jpg);
  }
}

.hero-text {
  color: #fff;
  /* font-size: 56px; */
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 1.07; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  /* max-width: 496px; */
  max-width: 288px;
  text-align: center;
}

.hero-button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*------------ADVANTAGES------------*/

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

.feature-icons {
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-item {
  width: 100%;
}

.feature-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  text-align: center;
}

.feature-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*------------OUR TEAM------------*/

.our-team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-team-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.our-team img {
  width: 100%;
}

.team-card {
  background-color: #ffffff;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.name-title {
  padding: 32px 0;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-list {
  width: 40px;
  height: 40px;
}

.icon-color {
  fill: #f4f4fd;
}

.soc-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 8px;
}

.profession {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: center;
}

/*------------PORTFOLIO------------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-text-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.project-card-title {
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.title-hidden {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.portfolio-item:hover .title-hidden {
  transform: translateY(0%);
}

/*------------FOOTER------------*/

.footer-container {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  margin: 0 auto;
  /* padding: 0 160px; */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-logo-text {
  /* margin-right: 120px; */
  text-align: center;
}

.footer {
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 72px;
  text-align: center;
}

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  /* margin-bottom: 16px; */
  margin-bottom: 17.5px;
}

.white-logo {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* min-width: 264px; */
  min-width: 288px;
  text-align: left;
}

.footer-icons-item {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-icons-list {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-icon-color {
  fill: #f4f4fd;
}

/*-----------MODAL-------------*/

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.close-btn {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover > .close-btn-icon,
.close-btn:focus > .close-btn-icon {
  fill: #ffffff;
}

.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  padding-left: 38px;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}

.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-left: 16px;
}

.modal-text:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.privacy-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-comment {
  margin-bottom: 16px;
}

.privacy-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 24px;
}

.privacy-mark {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.privacy-checkbox .checked-input:checked + .privacy-label .privacy-mark {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-input {
}

.privacy-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.submit-btn {
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 24px 96px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

/*----------FORM-------------*/

.subscribe-label {
  gap: 24px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.subscribe-form-wrap {
  /* margin-left: 80px; */
}
.form-title-subscribe {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* margin-bottom: 16px; */
  margin-top: 72px;
  text-align: center;
}

.subscribe-input {
  /* width: 264px; */
  width: 288px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  outline: transparent;
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  /* margin-left: 24px; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  margin-top: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
}
